* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: #253134;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}

aside {
    transition: bottom .2s;
    position: fixed;
    background: rgba(22, 33, 74, 0.05);
    padding: 34px;
    bottom: -90px;
    width: 100%;
}

aside input {
    background: transparent;
    color: #253134;
    font-family: monospace;
    border: none;
    font-size: 18px;
    width: 100%;
    display: block;
    outline: none;
}

.Task h3 {
    margin: 0;
    padding: 8px 0;
}

.Task {
    border-bottom: 8px solid #ccc;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    position: absolute;
    border-radius: 4px;
    display: block;
    width: 200px;
    padding: 16px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px rgba(22, 33, 74, 0.05);
}

.Task .Asignee {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    animation: fadein .3s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}